body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background */
}

header {
  background-color: #333; /* Dark gray header */
  color: #fff; /* White text */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0;
}

main {
  display: flex; /* Arrange video and episode list side-by-side */
  padding: 20px;
}

video {
  width: 60%;
  min-width: 320px; /* Ensure video has minimum width on smaller screens */
  border: 1px solid #ddd;
  margin-right: 20px;
}

nav {
  width: 40%;
  background-color: #eee; /* Light gray background for episode list */
  border: 1px solid #ddd;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #333; /* Dark gray text for episode links */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  color: #000; /* Black text on hover */
  font-weight: bold;
}
#seriesList li:hover {
            color: darkgray; /* تغيير لون النص عند التمرير فوقه */
            cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
        }
